 /*
 This CSS is imported to more than one component */

 :root{
  --primary-green: #B4E5AF;
 }
.dashboard-container {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #FFFFFF;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #B4E5AF;
  }
  
  .dashboard-header {
    background: #FFFFFF;
    border-bottom: 1px solid #B4E5AF;
    height: 180px;
  }
  
  .logo {
    padding: 12px 0;
    height: 40px;
  }
  
  .logo img {
    height: 68px;
    width: 200px;
    object-fit: contain;
  }
  
  .main-nav {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #B4E5AF;
  }
  
  .nav-links {
    display: flex;
    gap: 40px;
  }
  
  .nav-link {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #0e5f04;;
    text-decoration: none;
  }

  .custom-calendar .rbc-timeslot-group {
    border: 1px solid var(--primary-green);
  }

  .custom-calendar .rbc-header {
    border: 1px solid var(--primary-green);
  }

  .custom-calendar .rbc-allday-cell {
    border: 1px solid var(--primary-green);
  }




  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 5px;
    gap: 4px;
  }

  .profile-section span {
    font-size: 14px;
    font-weight: 700;
  }
  
  

  @media (max-width: 1200px) {
    .calendar-grid {
      min-width: 1000px;
    }
    
    .dashboard-main {
      overflow-x: auto;
    }
  }
